.main {
  background-color: rgb(241, 237, 237);
  height: 100vh;
  padding: 24px 64px 0;
}

.search {
  border-radius: 16px 16px 0 0;
}

.search,
.dashboard {
  background-color: #ffffff;
}

.dashboard {
  height: auto;
}
